#ignore backup files and ~files
*~

#ignore *.a and *.o files
*.[oa]

#ignore *.exe files
*.exe

#ignore *.out files
*.out

#ignore *.win files
*.win

#ignore *.dev files
*.dev

#ignore *.layout files
*.layout


#ignore *venv files
0_PatternRecognition/TensorFlow/venv/*
0_PatternRecognition/TensorFlow/stanford-tensorflow-tutorials/*
0_PatternRecognition/Torch7/ch1/cifar1*
